{% extends 'base.html' %}

{% block title %}
COMPUTER VISION
{% endblock%}

{% block content %}
<div class = "information">
    <heading>
        <div class="centered-heading">
            <span>
                <h1 id = "heading1" class = "anchor-target heading">Введение в Computer Vision</h1>
            </span>
        </div>
    </heading>

    <section>
        <h2>Что такое Computer Vision?</h2>
        <div class="text-with-image">
            <img src="{{ url_for('static', filename='image/neiron1Pic.png') }}" width="170" height="140" class="float-left" style="margin-right: 10px;">
            <p>
                Компьютерное зрение — это область информатики, занимающаяся разработкой технологий и алгоритмов, которые позволяют компьютерам интерпретировать и понимать визуальную информацию из окружающего мира. 
                <br>Эта область активно развивается благодаря прогрессу в машинном обучении, увеличению вычислительных мощностей и накоплению больших объемов данных. Цель данной курсовой работы — изучить основные концепции, технологии и приложения компьютерного зрения.
            </p>
        </div> 
    </section>

    <section>
        <h2>Основные концепции компьютерного зрения</h2>
        <br>
        <ul class="principles">
            <li><strong>Принципы обработки изображений:</strong> 
                <ol>
                    <li>Фильтрация изображений: удаление шумов, усиление контрастности.</li>
                    <li>Преобразования изображений: повороты, масштабирование, преобразование Фурье.</li>
                </ol>
            </li>
            <li><strong>Представление изображений в цифровом виде:</strong>
                <ol>
                    <li>Использование пикселей для представления изображений.</li>
                    <li>Цветовые модели: RGB (основная модель для мониторов), HSV (для анализа цвета), Grayscale (для упрощения обработки).</li>
                </ol>
            </li>
        </ul>
        <br>
        <p1>Компьютерное зрение базируется на ряде фундаментальных концепций, которые включают обработку изображений, цифровое представление данных и использование математических методов. Эти концепции составляют основу для разработки алгоритмов и технологий.</p1>
        <br><br>
        <ul class="principles">
            <li><strong>Основы математических методов
                Математические методы служат основой для разработки алгоритмов анализа и обработки изображений.:</strong>
                <ol>
                    <li>Преобразование Фурье: анализ частотных характеристик изображений.</li>
                    <li>Градиенты и контуры: поиск изменений интенсивности в изображении.</li>
                </ol>
            </li>
        </ul>
        <br>
        <br><br>
        <div class="text-with-image">
        <p1>В заключение, изучение основных концепций помогает понять, как системы компьютерного зрения интерпретируют визуальную информацию и преобразуют её в полезные данные.
            Компьютерное зрение базируется на фундаментальных принципах, которые позволяют извлекать информацию из изображений. Эти концепции включают обработку изображений, их цифровое представление и использование математических методов. В данном разделе представлены ключевые аспекты, которые составляют основу этой области.</p1>
        </div>
    </section>

    <heading>
        <div class="centered-heading">
            <span>
                <h1 id = "heading2" class = "anchor-target heading">Технологии и алгоритмы компьютерного зрения</h1>
            </span>
        </div>
    </heading>

    <section>


    <section>
        <h2>Технологии и алгоритмы компьютерного зрения</h2>
        <div class="text-with-image">
            <p>Современные достижения в области компьютерного зрения опираются на широкий спектр технологий и алгоритмов, которые помогают решать задачи разного уровня сложности. Они включают как традиционные методы, так и передовые подходы на основе машинного и глубокого обучения. В этом разделе рассматриваются ключевые технологии и их применение.</p>
        </div> 
        <br>
        <ul class = "principles">
            <li><strong>Традиционные алгоритмы</strong>
                <ol>
                    <li>Обнаружение объектов: алгоритмы на основе Haar-каскадов и HOG (гистограммы ориентированных градиентов).</li>
                </ol>
            </li>
            <li><strong>Машинное обучение:</strong>
                <ol>
                    <li>Использование классификаторов: метод опорных векторов (SVM), k-ближайших соседей (KNN).</li>
                </ol>
            </li>
            <li><strong>Глубокое обучение:</strong>
                <ol>
                    <li>адачи, решаемые с помощью CNN: классификация изображений, сегментация, детекция объектов.</li>
                </ol>
            </li>
            <li><strong>Современные архитектуры:</strong>
                <ol>
                    <li>Transformers: внедрение архитектур, таких как Vision Transformers (ViT), для анализа изображений.

                    </li>
                    <li>YOLO (You Only Look Once): быстрая и точная детекция объектов.</li>
                </ol>
            </li>
        </ul>
        <br>
        <div class="carousel">
            <div class="carousel-images">
                <img src="{{ url_for('static', filename = 'image/carusel1.0.jpg') }}" alt="Slide 1">
                <img src="{{ url_for('static', filename = 'image/carusel2.00.jpg') }}" alt="Slide 2">
            </div>
        </div>
        <p1>Развитие технологий и алгоритмов компьютерного зрения позволяет решать широкий спектр задач, начиная от анализа изображений и заканчивая глубоким обучением. Различные подходы используются в зависимости от сложности задачи и требований.</p1>
    </section>

    <heading>
        <div class="centered-heading">
            <span>
                <h1 id = "heading3" class = "anchor-target heading">Применения компьютерного зрения</h1>
            </span>
        </div>
    </heading>
    
    <section>
        <div class="text-with-image">
            <p>Компьютерное зрение находит применение в самых различных отраслях благодаря своей универсальности и эффективности. Оно используется для решения как повседневных, так и специализированных задач. В данном разделе описаны основные области применения этой технологии.</p>
        </div>
    </section>
    
    <section>
        <ul class="principles">
            <li><strong>Распознавание лиц и биометрия
                Технологии распознавания лиц играют важную роль в обеспечении безопасности и идентификации пользователей.</strong>
                <ol>
                    <li>Автоматическая идентификация лиц для доступа к устройствам.</li>
                    <li>Биометрическая аутентификация в банках и аэропортах.</li>
                    <li>Биометрическая аутентификация в банках и аэропортах. Контроль доступа в закрытые помещения.</li>
                </ol>
            </li>
        </ul>
        <br>
        <br><br>
        <ul class="principles">
            <li><strong>Автоматизация процессов в промышленности</strong>
                <ol>
                    <li>Использование компьютерного зрения для контроля качества продукции.</li>
                    <li>Анализ дефектов и автоматизация процессов производства.</li>
                    <li>Применение роботов-манипуляторов с системами зрения.</li>
                </ol>
            </li>
        </ul>
        <br>

        <br>
        
        <br><br>
        <ul class="principles">
            <li><strong>Автономные транспортные средства</strong>
                <ol>
                    <li>Распознавание дорожных знаков и объектов на дороге.</li>
                    <li>Построение 3D-карт окружающей среды.</li>
                    <li>Увеличение безопасности за счёт предотвращения аварий.</li>
                </ol>
            </li>
        </ul>
        <br>
        
        <ul class="principles">
            <li><strong> Розничная торговля</strong>
                <ol>
                    <li>Анализ поведения покупателей с помощью видеокамер.</li>
                    <li>Автоматизация касс с использованием технологий распознавания объектов.</li>
                    <li>Умные витрины и системы мониторинга запасов.</li>
                </ol>
            </li>
        </ul>
        <br>
       <p1>В заключение, разнообразие областей применения компьютерного зрения демонстрирует его потенциал в решении сложных задач и повышении эффективности в различных сферах деятельности.
        Компьютерное зрение находит применение в самых различных отраслях благодаря своей универсальности и эффективности. Оно используется для решения как повседневных, так и специализированных задач. В данном разделе описаны основные области применения этой технологии.
        
        Область применения компьютерного зрения охватывает множество отраслей: от распознавания лиц и промышленной автоматизации до медицины и розничной торговли. Это делает технологии компьютерного зрения важным инструментом в современном мире.</p1>

    <heading>
        <div class="centered-heading">
            <span>
                <h1 id = "heading4" class = "anchor-target heading">Текущие вызовы и ограничения</h1>
            </span>
        </div>
    </heading>

    <section>
        <div class="text-with-image">
            <h2>Текущие вызовы и ограничения</h2>
            <p>Несмотря на значительный прогресс, компьютерное зрение сталкивается с рядом сложностей. Эти вызовы включают как технические ограничения, так и социальные и этические аспекты. В данном разделе представлены основные проблемы, которые требуют решения для дальнейшего развития этой области.</p>
        </div>
    </section>

    <ul class="principles">
        <li><strong>Ограничения данных:</strong></li>
            <ol>
                <li>Недостаток размеченных данных для обучения моделей.</li>
                <li>Несбалансированность выборок: редкие классы часто игнорируются.</li>
                <li>Необходимость создания синтетических данных.</li>
            
            </ol>
        <li><strong>Трудности интерпретации моделей:</strong></li>
            <ol>
                <li>Сложность объяснения решений глубоких нейронных сетей.</li>
                <li>Отсутствие прозрачности в процессе принятия решений.</li>
                <li>Проблемы с доверием к выводам моделей.</li>
            </ol>
    </ul>

    <div class="videogpt">
        <video width="640" height="360" controls>
            <source src="static/image/video_preview_h264.mp4" type="video/mp4">
            <!-- <source src="video.webm" type="video/webm">
            <source src="video.ogv" type="video/ogg"> -->
            Ваш браузер не поддерживает тег video.
        </video>
    </div>

    <section>
        <p>Несмотря на успехи в развитии компьютерного зрения, существуют значительные вызовы. Эти вызовы включают вопросы интерпретации моделей, ограничения вычислительных ресурсов и соблюдение этических норм.</p>            
    </section>

    <ul class="principles">
        <li><strong> Ограничения данных:</strong></li>
            <ol>
                <li>Недостаток размеченных данных для обучения моделей.</li>
                <li>Несбалансированность выборок: редкие классы часто игнорируются.</li>
                <li>Необходимость создания синтетических данных.</li>
            </ol>
        <li><strong>Ограничения вычислительных ресурсов:</strong></li>
            <ol>
                <li>Высокая стоимость вычислений для больших моделей.</li>
                <li>Высокая стоимость вычислений для больших моделей.</li>
            </ol>
        <li><strong>Этические вопросы:</strong></li>
            <ol>
                <li>Конфиденциальность данных пользователей.</li>
                <li>Проблемы безопасности, связанные с использованием технологий.</li>
            </ol>
    </ul>
    <p1>В заключение, преодоление существующих вызовов в компьютерном зрении станет важным шагом для создания более эффективных и этически обоснованных технологий.
        Несмотря на значительный прогресс, компьютерное зрение сталкивается с рядом сложностей. Эти вызовы включают как технические ограничения, так и социальные и этические аспекты. В данном разделе представлены основные проблемы, которые требуют решения для дальнейшего развития этой области.</p1>

    <heading>
        <div class="centered-heading">
            <span>
                <h1 id = "heading5" class = "anchor-target heading">Перспективы развития компьютерного зрения</h1>
            </span>
        </div>
    </heading>

    <section>
        <div class="text-with-image">
            <h2>Перспективы развития компьютерного зрения</h2>
            <p>Будущее компьютерного зрения обещает быть захватывающим благодаря новым достижениям в области технологий и алгоритмов. Интеграция с другими передовыми технологиями, такими как искусственный интеллект и IoT, открывает новые горизонты для применения. Этот раздел посвящён анализу ключевых направлений развития компьютерного зрения.</p>            
        </div>
    </section>

    <ul class="principles">
        <li><strong>Интеграция с другими технологиями:</strong></li>
            <ol>
                <li>Развитие дополненной и виртуальной реальности.</li>
                <li>Использование интернета вещей (IoT) для сбора данных.</li>
                <li>Создание умных городов с использованием систем компьютерного зрения.</li>
            </ol>
        <li><strong>Развитие более универсальных моделей:</strong></li>
            <ol>
                <li>Создание моделей, способных работать в разных условиях.</li>
                <li>Улучшение генеративных моделей для создания реалистичных изображений.

                </li>
                <li>Разработка алгоритмов для обучения на меньших наборах данных.</li>
            </ol>
    </ul>
    <p1>В заключение, развитие компьютерного зрения будет определяться синтезом технологий, этическими стандартами и инновационными подходами, что позволит сделать его ещё более универсальным и полезным инструментом.
        Будущее компьютерного зрения обещает быть захватывающим благодаря новым достижениям в области технологий и алгоритмов. Интеграция с другими передовыми технологиями, такими как искусственный интеллект и IoT, открывает новые горизонты для применения. Этот раздел посвящён анализу ключевых направлений развития компьютерного зрения.
        
        Будущее компьютерного зрения связано с интеграцией с другими технологиями, улучшением моделей и решением этических проблем. Эти направления открывают новые возможности для исследований и практических приложений.</p1>



    <div class="container mt-5">
        <h1 id="heading8" class="text-center">Чат-бот</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Чат-бокс -->
                <div id="chat-box" class="border rounded-0 p-3 mb-3" style="height: 400px; overflow-y: auto; background-color: #f8f9fa;">
                    <!-- Сообщения будут добавляться сюда -->
                </div>
                
                <!-- Форма для ввода сообщения -->
                <form id="gpt4freeForm" class="d-flex">
                    <input type="text" name="user_input" class="form-control me-2" placeholder="Введите сообщение" required>
                    <button type="type" class="btn btn-primary" onclick="submitQuery(event)">Отправить</button>
                </form>
                
                <!-- Кнопка для очистки чата -->
                <button class="btn btn-secondary mt-2" onclick="clearChat()">Очистить</button>
            </div>
        </div>
    </div>
    
</div>
{% endblock%}